/*navbar2*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: ease-in-out;
}
.yoYo {
    cursor: pointer;
    color: black;
    font-weight: bold;   
    text-shadow: 0 0 5px royalblue, 0 0 10px pink, 0 0 15px paleturquoise;
    transition: ease;
}
.remoKick:hover {
    cursor: pointer;
    color: black;
    font-weight: bold;   
    text-shadow: 0 0 5px green, 0 0 10px goldenrod, 0 0 15px paleturquoise;
    transition: ease;
}
.peonies {
    cursor: pointer;
    color: black;
    font-weight: bold;   
    text-shadow: 0 0 5px green, 0 0 10px goldenrod, 0 0 15px paleturquoise;
    transition: ease;
}
/* Content */

body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    box-shadow:  0 0 5px whitesmoke, 0 0 10px whitesmoke, 0 0 15px whitesmoke;
    font-weight: bold;
}


#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-color: grey;
}
#pic{
    display: flex;
}
#pic img{
    width: 25%;
    height: auto;
}
.side-by-side{
    display: flex;
    flex-direction: row;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#portofolio{
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: white;
    align-items: center;
    padding: 20px;
    background-color: forestgreen;
}   
#projectCardRow{
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
        justify-content: space-between;
      }
      
      /* Clear floats after image containers */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

}
